<div class="main">
  <header class="masthead">
    <div class="container">
        <div class="masthead-subheading">ようこそRanSnapへ!</div>
        <div class="masthead-heading text-uppercase">ランニング中の<br>１コマを共有しよう</div>
        <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-primary btn-xl text-uppercase' %>
        <%= link_to "ログイン", new_user_session_path, class: 'btn btn-primary btn-xl text-uppercase' %>
    </div>
  </header>
</div>