// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.main {
  margin-top: 79px;
  margin-bottom: 75px;
}