<footer class="bg-dark pt-4 pb-4 fixed-bottom">
  <div class="container">
    <div class="">
      <div class="col-md-6 offset-md-3">
        <p class="text-center mb-0"><%= image_tag('ran_snap_logo_white_s.png') %></p>
      </div>
    </div>
  </div>
</footer>