<footer class="bg-dark text-white pt-5 pb-4 fixed-bottom">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4">
        <p>ランナーのためのSNS</p>
        <%= image_tag('ran_snap_logo_white_s.png') %>
      </div>
      <div class="col-md-8">
        <h6 class="text-white mt-2 mb-3">Link</h6>
        <ul class="p-0 list-unstyled">
          <li>
            <a href="" title="About" class="text-white-50">会社概要</a>
          </li>
          <li>
            <a href="" title="License informations" class="text-white-50">プライバシーポリシー</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>